@tailwind base;

@tailwind components;

@tailwind utilities;

.router-animation-enter-active {
  animation: coming 0.2s;
  animation-delay: 0.1s;
  opacity: 0;
}
.router-animation-leave-active {
  animation: going 0.2s;
}

@keyframes going {
  from {
    transform: translate3d(0, 0, 0) scale(1);
  }
  to {
    transform: translate3d(0, 4%, 0) scale(0.93);
    opacity: 0;
  }
}
@keyframes coming {
  from {
    transform: translate3d(0, 4%, 0) scale(0.93);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

/* Forms */

.form-control {
  @apply bg-gray-900 transition duration-300 ease-in-out border border-gray-700 focus:ring-1 focus:ring-gray-600 focus:outline-none focus:ring-opacity-90 rounded
    placeholder:text-gray-400 text-sm px-3  placeholder:font-normal block w-full h-[40px] text-white;
}

.form-label {
  @apply mb-2 text-gray-300 text-sm leading-6 cursor-pointer block w-full font-medium;
}

.input-control {
  @apply bg-gray-900  transition duration-300 ease-in-out border
   border-gray-700 text-gray-300  focus:ring-1
   focus:ring-gray-900 focus:outline-none focus:ring-opacity-90 rounded px-3  placeholder:font-normal placeholder:text-gray-400;
}
.input-label {
  @apply mb-2 text-gray-300 text-sm leading-6 cursor-pointer font-medium;
}
.fromGroup {
  &.has-error {
    .input-control {
      @apply border-red-500 focus:ring-red-500  focus:ring-opacity-90 focus:ring-1;
    }
  }
  &.is-valid {
    .input-control {
      @apply border-green-500 focus:ring-green-500 focus:ring-opacity-90 focus:ring-1;
    }
  }
}

.input-control[readonly] {
  @apply cursor-not-allowed;
}

.input-control[disabled] {
  @apply cursor-not-allowed;
}